@model PostingEvent


<div id="nav">
    <p><br></p>
</div>
<h1>Add Your Posting</h1>
<h5>Add all relevant information and submit below</h5>
<form asp-action="CreatePosting" asp-controller="Home" method="post">

<!--BEGIN of CARD ROW-->
<div class="row">
  <div class="col-sm-6 ">
    <div class="card text-white bg-secondary mb-3">
    <div class="card-header"><h5 class="card-title">Job Details</h5></div>
      <div class="card-body ">
        <p class="card-text"><b class="posting_title">Company:</b> <input asp-for="Company"></p>
        <p class="card-text"><b class="posting_title">Date Applied:</b> <input type ="date" asp-for="DateApply"></p>
        <p class="card-text"><b class="posting_title">Job Link:</b> <input asp-for="JobLink"></p>
        <p class="card-text"><b class="posting_title">Job Posting:</b> <select asp-for="JobPosting">
        <option>Company Site</option>
        <option>Glassdoor</option>
        <option>Indeed</option>
        <option>LinkedIn</option>
        </select></p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="card text-white bg-secondary mb-3">
     <div class="card-header"><h5 class="card-title">Key Info</h5></div>
      <div class="card-body ">
        <p class="card-text"><b class="posting_title">Position Title: </b><input asp-for="PositionTitle"></p>
        <p class="card-text"><b class="posting_title">Recruiter Name: </b><input asp-for="RecruiterName"></p>
        <p class="card-text"><b class="posting_title">Contact Name: </b><input asp-for="ContactName"></p>
        <p class="card-text"><b class="posting_title">Notes: </b> <textarea class="w-100" asp-for="Notes"></textarea></p>
      </div>
    </div>
  </div>
</div>
<!--END of CARD ROW-->
<!--BEGIN of CARD ROW 2-->
<div class="row">
  <div class="col-sm-6 ">
    <div class="card text-white bg-secondary mb-3">
    <div class="card-header"><h5 class="card-title">Phone Screen</h5></div>
      <div class="card-body ">
        <p class="card-text"><b class="posting_title">Phone Screen: </b> <input type ="date" asp-for="PhoneScreen"></p>
        <p class="card-text"><b class="posting_title">Phone Screen Notes: </b> <textarea class="w-100" asp-for="ScreenNotes"></textarea></p>

      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="card text-white bg-secondary mb-3">
     <div class="card-header"><h5 class="card-title">Phone Interview</h5></div>
      <div class="card-body ">
        <p class="card-text"><b class="posting_title">Phone Interview: </b><input type ="date" asp-for="PhoneInterview"></p>
        <p class="card-text"><b class="posting_title">Phone Interview Notes: </b><textarea class="w-100" asp-for="PhoneNotes"></textarea></p>

      </div>
    </div>
  </div>
</div>
<!--END of CARD ROW 2-->
<!--BEGIN of CARD ROW 3-->
<div class="row">
  <div class="col-sm-6 ">
    <div class="card text-white bg-secondary mb-3">
    <div class="card-header"><h5 class="card-title">Interview Info</h5></div>
      <div class="card-body ">
        <p class="card-text"><b class="posting_title">Interview: </b><input type ="date" asp-for="Interview"></p>
        <p class="card-text"><b class="posting_title">Interview Notes: </b><textarea class="w-100" asp-for="InterviewNotes"></textarea></p>

      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="card text-white bg-secondary mb-3">
     <div class="card-header"><h5 class="card-title">Denied Info</h5></div>
      <div class="card-body ">
        <p class="card-text"><b class="posting_title">Denied:</b><input type ="date" asp-for="Denied"></p>
        <p class="card-text"><b class="posting_title">Denied Notes:</b><textarea class="w-100" asp-for="DeniedNotes"></textarea></p>

      </div>
    </div>
  </div>
</div>
<!--END of CARD ROW 3-->



    <input type="submit" class="btn btn-success" value="Create Posting">
</form>
