@model PostingEvent


<div id="nav">
    <p><br></p>
</div>
<h1>Edit Your Posting </h1>
<h5>Update all relevant information and submit below</h5>
<form asp-action="Edit" asp-controller="Home" method="post">

<!--BEGIN of CARD ROW-->
<div class="row">
  <div class="col-sm-6 ">
    <div class="card text-white bg-light mb-3">
      <div class="card-header"><h5 class="card-title">Job Details</h5></div>
      <div class="card-body ">
<!--Company-->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label posting_title ">Company</label>
          <div class="col-sm-10">
            <input class="form-control w-75" asp-for="Company">
          </div>
        </div>
<!--DateApply-->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label posting_title ">Date Applied</label>
          <div class="col-sm-10">
            <input class="form-control w-75" type ="date" asp-for="DateApply">
          </div>
        </div>
<!--JobLink-->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label posting_title ">Job Link</label>
          <div class="col-sm-10">
            <input class="form-control w-75" asp-for="JobLink">
          </div>
        </div>
<!--JobLink-->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label posting_title ">Job Posting</label>
          <div class="col-sm-10">
            <select class="form-control w-75" asp-for="JobPosting">
              <option>Company Site</option>
              <option>Glassdoor</option>
              <option>Indeed</option>
              <option>LinkedIn</option>
            </select>
          </div>
        </div>
        <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="ConfirmationEmail">  <b class="posting_title">Received Confirmation Email </b> </p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="card text-white bg-light mb-3">
     <div class="card-header"><h5 class="card-title">Key Info</h5></div>
      <div class="card-body ">
<!--Position Title-->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label posting_title ">Position Title</label>
          <div class="col-sm-10">
            <input class="form-control w-75" asp-for="PositionTitle">
          </div>
        </div>
<!--Recruiter Name-->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label posting_title ">Recruiter Name</label>
          <div class="col-sm-10">
            <input class="form-control w-75" asp-for="RecruiterName">
          </div>
        </div>
<!--Contact Name-->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label posting_title ">Contact Name</label>
          <div class="col-sm-10">
            <input class="form-control w-75" asp-for="ContactName">
          </div>
        </div>
<!--Job Notes-->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label posting_title ">Job Notes</label>
          <div class="col-sm-10">
            <textarea class="form-control w-75" asp-for="Notes"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END of CARD ROW-->
<!--BEGIN of CARD ROW 2-->
<div class="row">
  <div class="col-sm-6 ">
    <div class="card text-white bg-light mb-3">
      <div class="card-header"><h5 class="card-title">Phone Screen</h5></div>
        <div class="card-body ">
<!--Phone Screen-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label posting_title ">Phone Screen</label>
            <div class="col-sm-10">
              <input class="form-control w-75" type ="date" asp-for="PhoneScreen">
            </div>
          </div>
<!--Phone Screen Notes-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label posting_title ">Phone Screen Notes</label>
            <div class="col-sm-10">
              <textarea class="form-control w-75" asp-for="ScreenNotes"></textarea>
            </div>
          </div>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="ScreenEmail">  <b class="posting_title">Follow-up Email Sent </b> </p>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="ScreenLetter">  <b class="posting_title">Follow-up Letter Sent </b> </p>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="ScreenCall">  <b class="posting_title">Follow-up Call Made </b> </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="card text-white bg-light mb-3">
          <div class="card-header"><h5 class="card-title">Phone Interview</h5></div>
          <div class="card-body ">
<!--Phone Interview-->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label posting_title ">Phone Interview</label>
              <div class="col-sm-10">
                <input class="form-control w-75" type ="date" asp-for="PhoneInterview">
              </div>
            </div>
<!--Phone Interview Notes-->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label posting_title ">Phone Interview Notes</label>
              <div class="col-sm-10">
                <textarea class="form-control w-75" asp-for="PhoneNotes"></textarea>
              </div>
            </div>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="PhoneEmail">  <b class="posting_title">Follow-up Email Sent </b> </p>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="PhoneLetter">  <b class="posting_title">Follow-up Letter Sent </b> </p>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="PhoneCall">  <b class="posting_title">Follow-up Call Made </b> </p>        
          </div>
        </div>
      </div>
    </div>
<!--END of CARD ROW 2-->
<!--BEGIN of CARD ROW 3-->
    <div class="row">
      <div class="col-sm-6 ">
        <div class="card text-white bg-light mb-3">
          <div class="card-header"><h5 class="card-title">Interview Info</h5></div>
          <div class="card-body ">
<!--Phone Interview-->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label posting_title ">Interview</label>
              <div class="col-sm-10">
                <input class="form-control w-75" type ="date" asp-for="Interview">
              </div>
            </div>
<!--Phone Interview Notes-->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label posting_title ">Interview Notes</label>
              <div class="col-sm-10">
                <textarea class="form-control w-75" asp-for="InterviewNotes"></textarea>
              </div>
            </div>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="InterviewEmail">  <b class="posting_title">Follow-up Email Sent </b> </p>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="InterviewLetter">  <b class="posting_title">Follow-up Letter Sent </b> </p>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="InterviewCall">  <b class="posting_title">Follow-up Call Made </b> </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="card text-white bg-light mb-3">
          <div class="card-header"><h5 class="card-title">Denied Info</h5></div>
          <div class="card-body ">
<!--Denied-->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label posting_title ">Denied</label>
              <div class="col-sm-10">
                <input class="form-control w-75" type ="date" asp-for="Denied">
              </div>
            </div>
<!--Denied Notes-->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label posting_title ">Denied Notes</label>
              <div class="col-sm-10">
                <textarea class="form-control w-75" asp-for="DeniedNotes"></textarea>
              </div>
            </div>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="DeniedEmail">  <b class="posting_title">Follow-up Email Sent </b> </p>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="DeniedLetter">  <b class="posting_title">Follow-up Letter Sent </b> </p>
            <p class="card-text"><input class="form-check-input check_space" type="checkbox" asp-for="DeniedCall">  <b class="posting_title">Follow-up Call Made </b> </p>
          </div>
        </div>
      </div>
    </div>
<!--END of CARD ROW 3-->
  <input type="submit" class="btn btn-success" value="Update Posting">
</form>